<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-ocean-conversion" version="1.2.0">
    <name>OceanConversionCordovaPlugin</name>
    <description>Ocean Conversion Cordova Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,TrackingIO,reyun,sdk</keywords>
    <repo>https://github.com/tadazly/cordova-plugin-ocean-conversion.git</repo>

    <preference name="OCEAN_APPID" />

    <js-module src="www/OceanConversion.js" name="OceanConversion">
        <clobbers target="Ocean" />
        <clobbers target="cordova.plugins.OceanConversion" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="OceanConversion">
                <param name="android-package" value="com.tadazly.oceanconversion.OceanConversionCordovaPlugin" />
            </feature>
            <preference name="OCEAN_APPID" value="$OCEAN_APPID" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="com.asus.msa.SupplementaryDID.ACCESS" />
        </config-file>

        <source-file src="src/android/OceanConversionCordovaPlugin.java" target-dir="src/com/tadazly/oceanconversion" />
        <source-file src="src/android/libs/humesdk-1.0.0.aar" target-dir="libs" />
        <framework src="src/android/ocean-conversion-build.gradle" custom="true" type="gradleReference" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="*-Info.plist" parent="NSUserTrackingUsageDescription">
          <string>请放心，开启权限不会获取你在其他站点的信息，该权限仅用于标识设备并保障游戏服务安全</string>
        </config-file>
        <config-file target="config.xml" parent="/*">
            <feature name="OceanConversion">
                <param name="ios-package" value="OceanConversionCordovaPlugin"/>
            </feature>
            <preference name="OCEAN_APPID" value="$OCEAN_APPID" />
        </config-file>

        <!-- Plugin source code -->
        <header-file src="src/ios/OceanConversionCordovaPlugin.h" />
        <source-file src="src/ios/OceanConversionCordovaPlugin.m" />

        <!-- TrackingIO SDK Official -->
        <header-file src="src/ios/libs/BDASignalManager.h" />
        <header-file src="src/ios/libs/BDASignalDefinitions.h" />
        <source-file src="src/ios/libs/libBDASignalSDK.a" framework="true" />

    </platform>
</plugin>